@import url("https://use.typekit.net/tom6ajc.css");


body {
  margin: 0;
  font-family: futura-pt, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#eee7ca;
  transition:backround-color .3s ease-in-out ;
}
.night {
  background-color:#272525;
}
html {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
